<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>File Upload to s3</h1>
  <p class="lead">
    Basic app to show file uploads to S3 using angular, angular-file-upload, nodejs and aws-sdk
  </p>
</div>

<div class="row marketing">
    <div class="form-group">
        <label for="photos">Input Picture</label>
        <input id="photos" type="file" class="btn" ng-file-select="onFileSelect($files)" multiple>
        <p class="help-block">Select pictures</p>
        <div ng-repeat="file in files" class="container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{file.progress}}%;">
                    {{file.name}} : {{file.progress}}
                </div>
            </div>
            <button class="btn btn-ttc" type="button" ng-click="abort($index)" ng-show="file.progress != 100">Abort</button>
        </div>
    </div>
</div>

<div class="footer">
  <p>Team hubba</p>
</div>
